workflows/seo-analysis.json
{
  "name": "SEO Analysis Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seo-analyze",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "seo-analyze"
    },
    {
      "parameters": {
        "expressions": {
          "targetUrl": "={{ $json.target_url }}",
          "competitors": "={{ $json.competitors }}",
          "analysisType": "={{ $json.analysis_type || 'all' }}",
          "location": "={{ $json.location }}"
        },
        "options": {}
      },
      "id": "set-inputs",
      "name": "Set Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.targetUrl }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "scrape-target",
      "name": "Scrape Target Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 150]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-competitors",
      "name": "Loop Competitors",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 450]
    },
    {
      "parameters": {
        "url": "={{ $json.item.json.url }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "scrape-competitor",
      "name": "Scrape Competitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 450]
    },
    {
      "parameters": {
        "operation": "concatenate",
        "concatenateFields": {
          "fields": [
            {
              "field": "competitor_data",
              "property": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge Competitor Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [1050, 450]
    },
    {
      "parameters": {
        "prompt": "You are an SEO analyst. Analyze the target website content and competitor content to find content gaps.\n\nTarget website: {{ $json.target_content }}\n\nCompetitor websites: {{ $json.competitor_content }}\n\nReturn a JSON with:\n1. \"gaps\" - array of topics the target is missing but competitors have\n2. \"recommendations\" - array of actionable recommendations\n3. \"priority\" - high/medium/low for each gap\n\nOutput ONLY valid JSON, no explanation.",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "analyze-gaps",
      "name": "Analyze Content Gaps",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.4,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.targetUrl }}/**/*.json",
        "options": {
          "timeout": 15000
        }
      },
      "id": "scrape-schema",
      "name": "Find JSON-LD Schema",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 150]
    },
    {
      "parameters": {
        "prompt": "Analyze this HTML for existing JSON-LD schema. List all schema types found and identify common missing types like Organization, Product, FAQPage, Article, LocalBusiness.\n\nContent: {{ $json.schema_content }}\n\nReturn JSON with:\n- \"found\" - array of schema types found\n- \"missing\" - array of recommended schema types to add\n- \"templates\" - JSON-LD templates for missing types\n\nOutput ONLY valid JSON.",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "analyze-schema",
      "name": "Analyze Schema",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.4,
      "position": [1450, 150]
    },
    {
      "parameters": {
        "prompt": "Generate a comprehensive SEO analysis report in markdown format.\n\nContent Gap Analysis:\n{{ $json.gap_analysis }}\n\nSchema Analysis:\n{{ $json.schema_analysis }}\n\nTarget: {{ $json.targetUrl }}\n\nCreate a professional report with:\n1. Executive Summary\n2. Content Gaps (with priority)\n3. Schema Audit\n4. Actionable Recommendations\n5. Next Steps",
        "options": {
          "temperature": 0.4
        }
      },
      "id": "generate-report",
      "name": "Generate Final Report",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.4,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "data": "={{ $json.report }}",
        "options": {
          "fileName": "seo-report-{{ $json.targetUrl }}-{{ $now }}.md"
        }
      },
      "id": "save-report",
      "name": "Save Report to File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1.2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "webhookUri": "={{ $json.slack_webhook }}",
        "text": "SEO Analysis Complete for {{ $json.targetUrl }}",
        "blocks": [
          {
            "type": "section",
            "text": {
              "type": "mrkdwn",
              "text": "*SEO Analysis Complete* 🎯\nTarget: {{ $json.targetUrl }}\n\n*Gaps Found:* {{ $json.gap_count }}\n*Schema Issues:* {{ $json.schema_issues }}"
            }
          },
          {
            "type": "actions",
            "elements": [
              {
                "type": "button",
                "text": {
                  "type": "plain_text",
                  "text": "View Report"
                },
                "url": "{{ $json.report_url }}"
              }
            ]
          }
        ],
        "options": {}
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1.2,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"target\": $json.targetUrl, \"report\": $json.report, \"gaps\": $json.gap_analysis.gaps, \"schema\": $json.schema_analysis } }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2250, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inputs": {
      "main": [
        [
          {
            "node": "Scrape Target Site",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape JSON-LD Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Target Site": {
      "main": [
        [
          {
            "node": "Analyze Content Gaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Competitors": {
      "main": [
        [
          {
            "node": "Scrape Competitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Competitor": {
      "main": [
        [
          {
            "node": "Loop Competitors",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Competitor Data": {
      "main": [
        [
          {
            "node": "Analyze Content Gaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Content Gaps": {
      "main": [
        [
          {
            "node": "Generate Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape JSON-LD Schema": {
      "main": [
        [
          {
            "node": "Analyze Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Schema": {
      "main": [
        [
          {
            "node": "Generate Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Final Report": {
      "main": [
        [
          {
            "node": "Save Report to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Report to File": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["seo", "marketing", "automation"],
  "trigger": "webhook",
  "updatedAt": "2026-02-28T21:15:00Z",
  "versionId": "1"
}
